name: Build

on:
  push:
    branches: master
  pull_request:
    branches: master

env:
  NAME: vault13
  RUST_VERSION: 1.92.0
  RUST_BACKTRACE: full
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        arch: [amd64, arm64]
        exclude:
          - os: windows
            arch: arm64
        include:
          - os: ubuntu
            package_name_os: linux

          - os: ubuntu
            arch: amd64
            workflow_label: ubuntu-24.04
            rust_target: x86_64-unknown-linux-gnu

          - os: ubuntu
            arch: arm64
            workflow_label: ubuntu-24.04-arm
            rust_target: aarch64-unknown-linux-gnu

          - os: macos
            package_name_os: macos

          - os: macos
            arch: amd64
            workflow_label: macos-15-intel
            rust_target: x86_64-apple-darwin

          - os: macos
            arch: arm64
            workflow_label: macos-15
            rust_target: aarch64-apple-darwin

          - os: windows
            arch: amd64
            package_name_os: windows
            workflow_label: windows-2025
            rust_target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.workflow_label }}
    steps:
    - uses: actions/checkout@v6

    - name: Calc hashes
      id: hash
      shell: bash
      run: |
        echo "cargo_lock=${{ hashFiles('Cargo.lock') }}" >> $GITHUB_OUTPUT
        echo "workflow_yml=${{ hashFiles('.github/workflows/build.yml') }}" >> $GITHUB_OUTPUT

    - name: Cache target/release/build
      uses: actions/cache@v5
      with:
        path: target/release/build
        key: ${{ matrix.workflow_label }}-target-build-${{ steps.hash.outputs.cargo_lock }}-${{ steps.hash.outputs.workflow_yml }}
    - name: Cache target/release/deps
      uses: actions/cache@v5
      with:
        path: target/release/deps
        key: ${{ matrix.workflow_label }}-target-deps-${{ steps.hash.outputs.cargo_lock }}-${{ steps.hash.outputs.workflow_yml }}

    - name: Show OS info (Linux)
      if: matrix.os == 'ubuntu'
      shell: bash
      run: |
        cat /etc/lsb-release
        uname -a
        echo
        echo "Environment variables:"
        echo
        env | sort

    - name: Install Rust
      shell: bash
      run: |
        rustup default ${{ env.RUST_VERSION }}-${{ matrix.rust_target }}
        rustc -vV
        cargo -vV

    - name: Install deps (macOS)
      if: runner.os == 'macOS'
      shell: bash
      run: |
        brew install sdl2
        echo "LIBRARY_PATH=$LIBRARY_PATH:$(brew --prefix)/lib" >> $GITHUB_ENV

    - name: Copy SDL2 libs (Windows)
      if: runner.os == 'Windows'
      shell: bash
      run: |
        cp sdl2_windows_binaries/* "$(rustc --print target-libdir)"
        cp sdl2_windows_binaries/* .

    - name: Install deps (Ubuntu)
      if: matrix.os == 'ubuntu'
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install libsdl2-dev libsndio-dev patchelf -y

    - name: cargo clippy
      if: runner.os == 'Linux'
      shell: bash
      run: |
        rustup component add clippy
        cargo clippy -V
        cargo clippy --all-targets --all-features --release --verbose -- -D warnings

    - name: cargo test
      shell: bash
      run: cargo test --release --verbose

    - name: cargo build
      shell: bash
      run: cargo build --release --verbose

    - name: Check repo clean
      shell: bash
      run: git diff --exit-code

    - name: App version
      shell: bash
      run: target/release/${NAME} -v

    - name: Pre-package
      shell: bash
      run: mkdir dist

    - name: Package (Windows)
      if: runner.os == 'Windows'
      shell: bash
      working-directory: dist
      run: |
        cp ../target/release/${NAME}.exe .
        cp ../target/release/${NAME}.pdb .
        cp ../sdl2_windows_binaries/SDL2.dll .

    - name: Package (macOS)
      if: runner.os == 'macOS'
      shell: bash
      working-directory: dist
      run: |
        cp ../target/release/${NAME} .
        DYLIB_PATH=/opt/homebrew/opt/sdl2/lib/libSDL2-2.0.0.dylib
        cp ${DYLIB_PATH} .
        install_name_tool -change ${DYLIB_PATH} libSDL2.dylib ${NAME}

    - name: Package (Linux)
      if: runner.os == 'Linux'
      shell: bash
      working-directory: dist
      run: |
        cp ../target/release/${NAME} .
        SO_PATH=$(ldconfig -p | grep libSDL2 | awk '{print $4}')
        cp ${SO_PATH} libSDL2.so
        patchelf --replace-needed $(basename $SO_PATH) libSDL2.so ${NAME}

    - name: Check package
      shell: bash
      working-directory: dist
      run: |
        ls -l
        ./${NAME} -v

    - name: Make artifact name
      id: artifact_name
      shell: bash
      run: echo "value=${{ env.NAME }}-$(git rev-parse --short $GITHUB_SHA)-${{ matrix.package_name_os }}-${{ matrix.arch }}" >> $GITHUB_OUTPUT

    - name: Upload
      uses: actions/upload-artifact@v6
      with:
        name: ${{ steps.artifact_name.outputs.value }}
        path: dist/*
